.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  min-width: 14rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: black;
}

.cardDescription {
  margin-top: 0.5rem;
  color: black;
  font-size: 0.98rem;
}

.smallButton {
  padding: 2px 6px;
  font-size: 0.85rem;
  line-height: 1;
  height: 1.8em;
  width: 1.8em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnFlex {
  display: flex;
  gap: 0.3rem;
}

.statusColumns {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 2rem;
}

.statusColumn {
  flex: 1 1 220px;
  border-radius: 8px;
  border: 1px solid white;
  padding: 1rem;
  min-width: 220px;
  box-sizing: border-box;
}

.addTaskFlex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}